@using Bakim.ViewModels;

@model TaskViewModel;

<div class="container">
    <div class="d-flex justify-content-between mb-4">
        <h2 class="d-flex align-items-center"> - İş Emri Detay</h2>
        <div class="align-items-center align-items-middle">
            <div class="mt-4">
                @if(Model.Task.InProcess && Model.WorkTaskUsers.Find(c=>c.UserId == Model.User.Id && c.InProcess == true) != null && Model.Task.ReceiverId == null)
                {
                    <button class="btn btn-success me-4"  data-bs-toggle="modal" data-bs-target="#transfer_modal">Transfer Et</button>
                }

                @if(Model.Task.InProcess && !Model.Task.IsCompleted && Model.WorkTaskUsers.Find(c=>c.UserId == Model.User.Id)== null)
                {
                    <a asp-action="AddUserToTask" asp-route-taskId="@Model.Task.TaskId" class="btn btn-primary">Dahil ol</a>
                } 
            </div>
        </div>    
    </div>
    <div class="card card-bordered shadow-sm">
        <div class="card-header d-flex justify-content-center">
                @if(!String.IsNullOrEmpty(Model.Task.ReceiverId))
                {
                <h1 class="mt-6">@Model.Task.TaskTitle - @Model.Task.Receiver.UserName ' e Atandı</h1>
                }
                else{
                <h1 class="mt-6">@Model.Task.TaskTitle - Havuza Atandı</h1>

                }
        </div> 
        <div class="card-body mt-4 py-5">
            @if(Model.Task.Acil == true)
            {
                <div class="d-flex justify-content-center align-items-center mb-6"><h2 class="text-danger">Acil İş Emri</h2></div>
            }
            <div class="row">
                <div class="col-md-6">
                    <div class="ms-8">
                        @if(Model.Task.ImagePath != null)
                        {   <label class="form-label">İş Emri Resmi</label>
                            <br>
                            <img src="/app/images/worktasks/@Model.Task.ImagePath" height="200" width="200" style="object-fit: cover;" class="img-responsive border border-5">
                        }
                        else
                        {
                            <img src="/app/images/HHT/Locha.jpeg" height="200" width="200" style="object-fit: cover;" class="img-responsive border border-5">
                        }
                    </div>
                    
                </div>
                <div class="col-md-6 row">
                    <div class="col-md-12">
                        <label for="ProductionSectionId" class="form-label">Üretim Bölümü</label>
                        <input type="text" class="form-control form-control-sm form-control-solid"
                            name="ProductionSectionName" value="@Model.productionSection.ProductionSectionName" disabled/>
                    </div>    
                    <div class="col-md-12">
                        <label for="SectionId" class="form-label">Üretim Birimi</label>
                        <input type="text" class="form-control form-control-sm form-control-solid"
                            name="SectionName" value="@Model.Section.SectionName" disabled/>
                    </div>     
                </div>  
                <div class="col-md-6 mt-10"> 
                    <label for="FaultCategoryName" class="form-label">Arıza Kategorisi</label>
                    <input type="text" class="form-control form-control-sm form-control-solid"
                        name="FaultCategoryName" value="@Model.sectionFaultCategory.FaultCategoryName" disabled/>
                </div>
                <div class="col-md-6 mt-10">  
                    <label for="VarlikName" class="form-label">Varlık</label>
                    <input type="text" class="form-control form-control-sm form-control-solid"
                        name="VarlikName" value="@Model.varlik.VarlikName" disabled/>
                </div>
                <div class="mt-10 mb-10">
                    <fieldset disabled>
                    <label for="exampleFormControlTextarea1" class="form-label">Açıklama</label>
                    @if(Model.Task.TaskDescription != null)
                    {
                    <textarea  class="form-control" id="exampleFormControlTextarea1" rows="3">@Model.Task.TaskDescription</textarea>
                        
                    }
                    else{
                        <textarea  class="form-control" id="exampleFormControlTextarea1" rows="3">Açıklama Girilmemiş.</textarea>
                    }
                    </fieldset>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-6 mb-10"><h1 class="text-decoration-underline text-primary">İşlem Geçmişi</h1></div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card card-dashed shadow-sm h-100">
                        <div class="card-header"> 
                            <h3 class="card-title">Kullanıcı İşlemleri</h3>
                        </div>
                        <div class="card-body mt-6 py-5">
                            @foreach (var taskUser in Model.WorkTaskUsers.OrderBy(d=>d.StartedDate))
                            {
                                <h3 class="text-primary">
                                    <span class="svg-icon svg-icon-muted svg-icon-2"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.3" d="M5.78001 21.115L3.28001 21.949C3.10897 22.0059 2.92548 22.0141 2.75004 21.9727C2.57461 21.9312 2.41416 21.8418 2.28669 21.7144C2.15923 21.5869 2.06975 21.4264 2.0283 21.251C1.98685 21.0755 1.99507 20.892 2.05201 20.7209L2.886 18.2209L7.22801 13.879L10.128 16.774L5.78001 21.115Z" fill="currentColor"/>
                                    <path d="M21.7 8.08899L15.911 2.30005C15.8161 2.2049 15.7033 2.12939 15.5792 2.07788C15.455 2.02637 15.3219 1.99988 15.1875 1.99988C15.0531 1.99988 14.92 2.02637 14.7958 2.07788C14.6717 2.12939 14.5589 2.2049 14.464 2.30005L13.74 3.02295C13.548 3.21498 13.4402 3.4754 13.4402 3.74695C13.4402 4.01849 13.548 4.27892 13.74 4.47095L14.464 5.19397L11.303 8.35498C10.1615 7.80702 8.87825 7.62639 7.62985 7.83789C6.38145 8.04939 5.2293 8.64265 4.332 9.53601C4.14026 9.72817 4.03256 9.98855 4.03256 10.26C4.03256 10.5315 4.14026 10.7918 4.332 10.984L13.016 19.667C13.208 19.859 13.4684 19.9668 13.74 19.9668C14.0115 19.9668 14.272 19.859 14.464 19.667C15.3575 18.77 15.9509 17.618 16.1624 16.3698C16.374 15.1215 16.1932 13.8383 15.645 12.697L18.806 9.53601L19.529 10.26C19.721 10.452 19.9814 10.5598 20.253 10.5598C20.5245 10.5598 20.785 10.452 20.977 10.26L21.7 9.53601C21.7952 9.44108 21.8706 9.32825 21.9221 9.2041C21.9737 9.07995 22.0002 8.94691 22.0002 8.8125C22.0002 8.67809 21.9737 8.54505 21.9221 8.4209C21.8706 8.29675 21.7952 8.18392 21.7 8.08899Z" fill="currentColor"/>
                                    </svg>
                                    </span><b>@taskUser.User.UserName</b> - <span class="text-dark"> @taskUser.StartedDate tarihinde başladı.</span>
                                </h3>
                                if (!taskUser.InProcess){    
                                    <h3 class="text-danger">@taskUser.CompletedDate <span class="text-dark">tarihinde tamamladı.</span></h3>
                                    <div class="separator border-2 my-10"></div>
                                }
                                else{
                                    <h3 class="text-danger mt-4">Devam ediyor.</h3>
                                    <div class="separator border-2 my-10"></div>
                                }
                                if (!taskUser.InProcess)
                                {
                                    <fieldset disabled>
                                    <label for="exampleFormControlTextarea1" class="form-label">Kullanıcı açıklaması</label>
                                    <textarea  class="form-control mb-10 mt-2" id="exampleFormControlTextarea1" rows="3">@taskUser.Description</textarea>
                                    </fieldset>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-dashed shadow-sm h-100">
                        <div class="card-header">
                            <h3 class="card-title">Transferler</h3>
                        </div>
                        <div class="card-body">
                            @if (Model.WorkTaskTransfers.Count == 0)
                            { 
                                <h3 class="text-center text-dark mt-8">Transfer kaydı bulunamadı.</h3>
                            }
                            @foreach (var transfer in Model.WorkTaskTransfers)
                            {
                                
                                <h3 class="text-dark mt-8">
                                    <span class="svg-icon svg-icon-muted svg-icon-2"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.3" d="M5.78001 21.115L3.28001 21.949C3.10897 22.0059 2.92548 22.0141 2.75004 21.9727C2.57461 21.9312 2.41416 21.8418 2.28669 21.7144C2.15923 21.5869 2.06975 21.4264 2.0283 21.251C1.98685 21.0755 1.99507 20.892 2.05201 20.7209L2.886 18.2209L7.22801 13.879L10.128 16.774L5.78001 21.115Z" fill="currentColor"/>
                                        <path d="M21.7 8.08899L15.911 2.30005C15.8161 2.2049 15.7033 2.12939 15.5792 2.07788C15.455 2.02637 15.3219 1.99988 15.1875 1.99988C15.0531 1.99988 14.92 2.02637 14.7958 2.07788C14.6717 2.12939 14.5589 2.2049 14.464 2.30005L13.74 3.02295C13.548 3.21498 13.4402 3.4754 13.4402 3.74695C13.4402 4.01849 13.548 4.27892 13.74 4.47095L14.464 5.19397L11.303 8.35498C10.1615 7.80702 8.87825 7.62639 7.62985 7.83789C6.38145 8.04939 5.2293 8.64265 4.332 9.53601C4.14026 9.72817 4.03256 9.98855 4.03256 10.26C4.03256 10.5315 4.14026 10.7918 4.332 10.984L13.016 19.667C13.208 19.859 13.4684 19.9668 13.74 19.9668C14.0115 19.9668 14.272 19.859 14.464 19.667C15.3575 18.77 15.9509 17.618 16.1624 16.3698C16.374 15.1215 16.1932 13.8383 15.645 12.697L18.806 9.53601L19.529 10.26C19.721 10.452 19.9814 10.5598 20.253 10.5598C20.5245 10.5598 20.785 10.452 20.977 10.26L21.7 9.53601C21.7952 9.44108 21.8706 9.32825 21.9221 9.2041C21.9737 9.07995 22.0002 8.94691 22.0002 8.8125C22.0002 8.67809 21.9737 8.54505 21.9221 8.4209C21.8706 8.29675 21.7952 8.18392 21.7 8.08899Z" fill="currentColor"/>
                                        </svg>
                                    </span>
                                    <span class="text-danger">@transfer.TransferredDate</span> tarihinde <span class="text-primary">@transfer.TransferredUser.UserName</span> 'e transfer edildi.</h3>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
               
            </div>
        </div>
    </div> 


     <div class="modal fade" tabindex="-1" id="transfer_modal">
        <div class="modal-dialog">
            <form method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">İş Emrini Transfer Edin</h5>
                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                        <span class="svg-icon svg-icon-2x"></span>
                    </div>
                </div>
                <div class="modal-body">
                    <select class="form-select" asp-for="User.Id" data-control="select2" data-placeholder="Lütfen Transfer Edeceğiniz Kişiyi Seçiniz" required>
                    <option value=""></option>
                            @foreach(var user in Model.AllUsers)
                            {
                                if (Model.WorkTaskUsers.Find(c=>c.UserId == user.Id) == null)
                                {
                                    <option value="@user.Id">@user.UserName</option>
                                }  
                            }
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" asp-action="TransferTask" asp-route-taskId="@Model.Task.TaskId" class="btn btn-primary">Transfer Et</button>
                </div>
            </div>
            </form>
        </div>
    </div>

</div>