@using Bakim.ViewModels;

@model StokDetayViewModel;

<div class="container">
    <div class="card card-flush shadow-sm">
            <div class="card-header">
                <h3 class="card-title">@Model.stok.StockName</h3>
            </div>
            <div class="card-body py-5">
                    <div class="row">
                        <div class="col-md-6 mb-10">
                        <label for="exampleFormControlInput1" class="form-label">Stok Fotoğrafı</label> 
                        <br>
                        @if(Model.stok.ImagePath == null)
                        {
                            <img src="/media/avatars/blank.png" height="150" width="150" class="img-responsive object-fit-cover border border-5">   

                        }
                        else
                        {
                        <img src="/app/images/stocks/@Model.stok.ImagePath" height="150" width="150" class="img-responsive object-fit-cover border border-5">   
                        }
                    </div>

                    <div class="col-md-6 row">
                        <div class="col-md-12">
                            <label for="StockGroupId" class=" form-label">Stok Grubu</label>
                            <input type="text" class="form-control form-control-sm form-control-solid"
                                name="StockGroupName" value="@Model.stokgrubu.StockGroupName" disabled/>
                            
                        </div>
                        <div class="col-md-12">
                            <label for="StokKategoriId" class="form-label">Stok Kategorisi</label>
                             <input type="text" class="form-control form-control-sm form-control-solid"
                                name="StokKategoriName" value="@Model.stokKategori.StokKategoriName" disabled/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-10">
                            <label for="StockCode" class="form-label">Stok Kodu</label>
                            <input type="text" class="form-control form-control-sm form-control-solid"
                             name="StockCode" value="@Model.stok.StockCode" disabled/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-10">
                            <label for="StockName" class="form-label">Stok Adı</label>
                            <input type="text" class="form-control form-control-sm form-control-solid"
                                name="StockName" value="@Model.stok.StockName" disabled/>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="mb-10">
                            <label for="Barcode" class="form-label">Barkod</label>
                            <input type="text" class="form-control form-control-sm form-control-solid"
                                name="Barcode" value="@Model.stok.Barcode" disabled/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-10">
                            <label for="Price" class="form-label">Fiyat</label>
                            <input type="number" class="form-control form-control-sm form-control-solid"
                                name="Price" value="@Model.stok.Price" disabled/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-10">
                            <label for="StockAmount" class="form-label">Miktar</label>
                            <input type="number" class="form-control form-control-sm form-control-solid"
                                name="StockAmount" value="@Model.stok.StockAmount" disabled/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-10">
                            <label for="MinStock" class="form-label">Minimum Stok</label>
                            <input type="number" class="form-control form-control-sm form-control-solid"
                                name="MinStock" value="@Model.stok.MinStock" disabled/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-10">
                            <label for="MaxStock" class="form-label">Maksimum Stok</label>
                            <input type="number" class="form-control form-control-sm form-control-solid"
                                name="MaxStock" value="@Model.stok.MaxStock" disabled/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <label for="FirmaId" class="form-label">Tedarikçi Firma(lar)</label>
                         <input type="text" id="firmalar" class="form-control form-control-sm form-control-solid"
                            name="FirmaId" value='@String.Join(", ",Model.firmalar.Select(c=>c.FirmaAdi).ToArray())' disabled/>
                        
                    </div>
                    <div class="col-md-4 mt-10 d-flex align-items-center justify-content-center">
                           <div class="form-check form-switch">
                                <input asp-for="@Model.stok.Pasif" disabled name="Pasif" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Pasif</label>
                            </div>
                    </div>
                </div>
            </div> 
            <div class="card-footer">

            </div>
    </div>
</div>
